body{
    overflow-x: hidden;
}
.maindiv{
    display: flex;
    width: 90vw;
    height: auto;
    margin: auto;
    /* width: fit-content; */
    /* background-color: aqua; */
}
.maindiv .right-side{
    width: min-content;
    
}
.right-side .firstimg{
 height: 40vh;
 width: 50vw;
}
.maindiv .left-side{
    margin-left: 1rem;
    font-size: .7rem;
    height: 60vh;
}
.left-column{
    height: 6rem;
    width: fit-content;
}
.left-column .leftimg{
    height: 80px;
    width: 150px;
}

/* trending stories */
.container-stories > .block-title{
    text-align: center;
    display: block;
    height: 10px;
    cursor: pointer;
    text-decoration: none;
    border-top: 2px solid #ddd;
    border-bottom: 2px solid #ddd;
    position: relative;
    margin-bottom: 70px;
    margin-top: 10px;
}
.block-title span{
    width: 20%;
    background: #fff;
    margin: auto;
    font-family: 'Roboto', sans-serif;
    color: #999;
    /* font-weight: 600; */
    text-transform: uppercase;
    font-size: 1rem;
    margin-top: -10px;
    display: block;
}
.container-stories{
    width: 90vw;
    margin: auto;
}
.trending-cards{
    /* width: fit-content; */
    margin-left: 1rem;
    justify-content: space-evenly;
    margin-bottom: 1rem;
}
.card{
    width: 25rem !important;
    height: 20rem !important;
}
.card-img-top{
    height: 12rem !important;
}

/* video section */
.videos{
    margin-top: 5rem;
    flex-wrap: nowrap;
}
.videoCard{
    height: 15rem !important;
}

/* quote css */
.quoteCard{
    height: 12rem !important;
}